@media screen and (min-device-width: 1024px) and (max-device-width: 1348px) {
	/*INTRO*/
	.intro_text {
		width: 700px;
		font-size: 18px;
		line-height: 20px;
	}
	.title {
		font-size: 84px;
		line-height: 84px;
	}
	
	/*SERVICE*/

	.Services {
		height: 912px;
	}
	.service_title {
		text-align: center;
		padding-top: 52px
	}
	.from_idea {
		width: 611px;
		padding-top: 61px;
	}
	.integration_idea {
		width: 608px;
	}
	.all_ser {
		flex-direction: column;
	}
	.items {
		margin-right: auto;
		margin-left: auto;
		width: 1024px;
		height: 547px;
		margin-top: 49px;
		display: grid;
		grid-template-columns: repeat(4, 256px);
   		grid-template-rows: repeat(2, 273.5px);
	}
	.service {
		height: 273.5px;
		width: 256px
	}

	/* WORK */

	.recent_work {
		height: 1033px;
	}
	.img_work_cl {
		width: 317.23px;
		height: 282.91px;
	}
	.img_content_work {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		display: grid;
  		grid-template-columns: repeat(2, 317px);
  		grid-template-rows: repeat(2, 282.91px);
  		grid-column-gap: 40px;
  		grid-row-gap: 75px
	}
	.img_work_hidden {
		position: relative;
		top: -320px;
		margin-left: 15px;
		width: 287.64px;
		height: 256.86px;
	}

	/* VIDEO */

	.video_block {
		height: 540px;
	}
	.all_video {
		width: 978px;
		margin-left: auto;
		margin-right: auto;
	}
	.video_info {
		margin-left: 60px;
		grid-gap: 19px
	}
	.line_title_v_b {
		width: 113.48px;
		height: 8px;
		background: #2B4074;
	}
	.text_v_b {
		width: 523px;
	}
	.video_v_b {
		width: 395px;
		height: 380px;
	}

	/* NEWS */

	.latest_news {
		height: 1745px;
	}
	.content_news {
		width: 871px;
		margin-top: 96px;
		flex-wrap: wrap;
	}
	.new_solo {
		width: 299.5px;
		margin: 0;
		margin-bottom: 30px;
	}

	/* TEST */

	.text_test {
		width: 800px;
		margin-top: 44px;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 45px;
	}
	.text_test b{
		margin-top: 44px;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 45px
	}

	/* FOOTER */

	.all_footer {
		margin-left: auto;
		margin-right: auto;
		max-width: 939px;
	}
	.text_footer_the_last {
		font-size: 36px;
		line-height: 32px;
	}
	.lines_y_footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.line_apps_footer {
		width: 710.22px;
	}
	.widgets_footer {
		margin-top: 57px;
	}
	.title_f {
		font-size: 18px;
		line-height: 21px;
	}
	.text_f {
		font-size: 16px;
		line-height: 20px;
		font-style: normal;
	}
	.all_copyfooter {
		margin-right: 11px;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	/*INTRO*/
	.title {
		font-size: 60px;
		line-height: 60px;
	}
	.intro_text {
		width: 587px;
		font-style: normal;
		font-size: 18px;
		line-height: 20px;
	}

	/* PROMO */

	.Promo {
		height: 187px;
	}
	.promo_text {
		width: 427px;
		height: 147px;
		padding-top: 45px;
	}
	.promo_text_1 {
		font-size: 24px;
		line-height: 24px;
	}
	.promo_text_2 {
		width: 427px;
		height: 63px;
		font-size: 16px;
		font-style: normal;
		line-height: 18px;
		margin-top: 10px;
	}
	.text_call_me {
		margin-left: 75%;
		margin-top: -120px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/*SERVICE*/

	.Services {
		height: 1655px;
	}
	.service_title {
		text-align: center;
	}
	.from_idea {
		width: 611px;
		padding-top: 61px;
	}
	.integration_idea {
		width: 689px;
	}
	.all_ser {
		flex-direction: column;
	}
	.items {
		margin-left: auto;
		margin-right: auto;
		width: 768px;
		margin-top: 27px;
		height: 1349px;
		display: grid;
		grid-template-columns: repeat(2, 382px);
   		grid-template-rows: repeat(4, 334px);
	}
	.service {
		width: 382px;
	    height: 334px;
	}
	.service:hover .btn_href {
		margin-left: 75px
	}
	.service:hover .text_it_serv {
		margin-left: 85px
	}

	/* WORK */

	.recent_work {
		margin-top: 65px;
		height: 1033px;
	}
	.img_work_cl {
		width: 317.23px;
		height: 282.91px;
	}
	.img_content_work {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		display: grid;
  		grid-template-columns: repeat(2, 317px);
  		grid-template-rows: repeat(2, 282.91px);
  		grid-column-gap: 40px;
  		grid-row-gap: 75px
	}
	.img_work_hidden {
		position: relative;
		top: -320px;
		margin-left: 15px;
		width: 287.64px;
		height: 256.86px;
	}

	/* VIDEO */

	.video_block {
		height: 479px;
	}
	.all_video {
		padding-top: 40px;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
    	display: flex;
	}
	.video_v_b {
		width: 300px;
		height: 287px;
	}
	.video_info {
		margin-left: 34px;
		grid-gap: 0px;
	}
	.line_title_v_b {
		margin-top: 20px;
		margin-bottom: 7px;
		width: 88.64px;
		height: 8px;
	}
	.text_v_b {
		width: 407px;
	}
	.text_title_v_b {
		font-size: 36px;
		line-height: 38px;
	}
	.btn_video {
		margin-top: 42px;
		margin-left: -75px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}

	/* NEWS */

	.latest_news {
		height: 1745px;
	}
	.content_news {
		width: 871px;
		margin-top: 96px;
		flex-wrap: wrap;
	}
	.new_solo {
		width: 299.5px;
		margin: 0;
		margin-bottom: 30px;
	}

	/* TEST */

	.testimonial {
    	height: 410px;
    }
	.text_test {
		margin-top: 40px;
		margin-bottom: 40px;
		width: 687px;
		line-height: 34px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	/* FOOTER */

	.footer {
		height: 720px;
	}
	.all_footer {
		margin-left: auto;
		margin-right: auto;
		width: 688px;
	}
	.text_footer_the_last {
		font-size: 36px;
		line-height: 32px;
		width: 690px;
	}
	.lines_y_footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.line_apps_footer {
		width: 500px;
		margin-top: -40px;
	}
	.widgets_footer {
		margin-top: 80px;
		width: 768px;
		grid-column-gap: 25px
	}
	.title_f {
		font-size: 18px;
		line-height: 21px;
	}
	.text_f {
		font-size: 16px;
		line-height: 20px;
		font-style: normal;
	}
	.all_copyfooter {
		margin-right: 11px;
	}
}

@media screen and (min-device-width: 321px) and (max-device-width: 767px) {
	/*INTRO*/
	.title {
		font-size: 60px;
		line-height: 60px;
	}
	.intro_text {
		opacity: 0;
		margin-bottom: 0px
	}
	.text_intro_0 {
		width: 61.05px;
		height: 8px;
		background: #4A4A4A;
		opacity: 1;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		margin-bottom: 30px;
	}
	.btn_intro {
		margin-top: -75px;
	}
	.owl-nav {
		opacity: 0
	}


	/* PROMO */

	.Promo {
		height: 254px;
	}
	.promo_text {
		width: 580px;
		height: 147px;
		padding-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.promo_text_1 {
		font-size: 24px;
		line-height: 24px;
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	.promo_text_2 {
		width: 580px;
		font-size: 16px;
		font-style: normal;
		line-height: 18px;
		margin-top: 10px;
		margin-left: 30px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
	.text_call_me {
		margin-left: auto;
		margin-right: auto;
		margin-top: -30px;
	}

	/*SERVICE*/

	.Services {
		height: 1551px;
	}
	.service_title {
		text-align: center;
	}
	.content {
		margin-left: auto;
		margin-right: auto;
		width: 559px;
		align-items: center;
	}
	.from_idea {
		padding-top: 12px;
		width: 559px;
		height: 60px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		margin-bottom: 30px
	}
	.integration_idea {
		width: 559px;
		font-style: normal;
		font-size: 18px;
		line-height: 24px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
	.all_ser {
		flex-direction: column;
	}
	.items {
		margin-left: auto;
		margin-right: auto;
		width: 640px;
		margin-top: 40px;
		height: 1245px;
		display: grid;
		grid-template-columns: repeat(2, 320px);
   		grid-template-rows: repeat(4, 308px);
	}
	.service {
		width: 320px;
	    height: 308px;
	}
	.service:hover .btn_href {
		margin-left: 50px
	}
	.service:hover .text_it_serv {
		margin-left: 60px
	}

	/* WORK */

	.recent_work {
		margin-top: 62px;
		height: 2288px;
	}
	.img_work_cl {
		width: 518px;
		height: 460px;
	}
	.img_content_work {
		margin-top: 40px;
		width: 518px;
		margin-left: auto;
		margin-right: auto;
		display: grid;
  		grid-template-columns: repeat(1, 518px);
  		grid-template-rows: repeat(4, 282.91px);
  		grid-row-gap: 250px
	}
	.img_work_hidden {
		position: relative;
		top: -490px;
		margin-left: 25px;
		width: 469.68px;
		height: 417.66px;
	}
	.img_work_hidden_icons{
		width: 135.3px;
		height: 61.59px;
	}

	/* VIDEO */

	.video_block {
		height: 1007px;
		margin-top: 50px
	}
	.all_video {
		padding-top: 46px;
		width: 520px;
		margin-left: auto;
		margin-right: auto;
    	display: flex;
    	flex-direction: column;
	}
	.video_v_b {
		width: 520px;
		height: 478px;
	}
	.video_info {
		margin-right: auto;
		margin-left: auto;
	}
	.line_title_v_b {
		margin-right: auto;
		margin-left: auto;
		margin-top: -20px;
		margin-bottom: 0px;
		width: 88.64px;
		height: 8px;
	}
	.text_v_b {
		margin-top: -75px;
		width: 518px;
		height: 160px;
		font-style: normal;
		font-size: 16px;
		line-height: 18px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
	.text_title_v_b {
		font-size: 36px;
		line-height: 38px;
		width: 150px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 46px
	}
	.btn_video {
		margin-top: 45px;
		margin-left: auto;
    	margin-right: auto;
	}

	/* NEWS */

	.latest_news {
		height: 1745px;
	}
	.content_news {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 88px;
		flex-wrap: wrap;
	}
	.new_solo {
		margin: 0;
		margin-bottom: 30px;
	}

	/* TEST */

	.testimonial {
    	height: 410px;
    }
    .test_title_img {
    	padding-top: 60px;
	}
	.text_test {
		margin-top: 40px;
		margin-bottom: 40px;
		width: 552px;
		font-style: normal;
		font-size: 32px;
		line-height: 34px;
		display: flex;
    	align-items: center;
    	text-align: center;
    	justify-content: center;
    	align-content: center;
    	flex-direction: column;
	}

	/* FOOTER */

	.footer {
		height: 720px;
	}
	.all_footer {
		margin-left: auto;
		margin-right: auto;
		width: 560px;
	}
	.text_footer_the_last {
		width: 500px;
		font-size: 24px;
		line-height: 26px;
		padding-top: 84px;
		margin-left: auto;
		margin-right: auto;
	}
	.lines_y_footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.line_apps_footer {
		width: 425px;
		margin-top: -40px;
	}
	.widgets_footer {
		margin-top: 40px;
		width: 560px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 42px;
	}
	.title_f {
		font-size: 18px;
		line-height: 21px;
	}
	.text_f {
		font-size: 16px;
		line-height: 20px;
		font-style: normal;
	}
	.all_copyfooter {
		margin-right: 11px;
	}
}

@media screen and (max-device-width: 320px) {
	.header {
    	height: 150px;
  		display: flex;
  		justify-content: center;
	}
	.logo {
		width: 150px;
		height: 115.73px;
		align-self: center;
		margin-left: 5%
	}
	.menu_btn {
		width: 40px;
		height: 40px;
		margin-left: auto;
		align-self: center;
		margin-right: 10%;
		display: flex;
	  	align-items: center;
  		justify-content: center;
	}
	.bg_hed {
		width: 100px;
		height: 100px;
	}
	.three_lines {
		width: 50px;
		height: 50px;
		margin-left: -75px
	}

	/*INTRO*/

	.title {
		padding-top: 75px;
		font-size: 90px;
		line-height: 90px;
	}
	.owl-nav{
		opacity: 0
	}
	.intro_text {
		opacity: 0;
		margin-bottom: 0px
	}
	.text_intro_0 {
		width: 200px;
		height: 20px;
		background: #4A4A4A;
		opacity: 1;
		margin-left: auto;
		margin-right: auto;
		margin-top: 75px;
		margin-bottom: 30px;
	}
	.btn_intro {
		opacity: 0
	}


	/* PROMO */

	.Promo {
		height: 700px;
	}
	.promo_text {
		height: 147px;
		padding-top: 75px;
		margin-left: auto;
		margin-right: auto;
	}
	.promo_text_1 {
		width: 600px;
		height: 100px;
		font-style: normal;
		font-size: 60px;
		line-height: 60px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.promo_text_2 {
		width: 800px;
		margin-top: 190px;
		font-style: normal;
		font-size: 48px;
		line-height: 50px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
	.text_call_me {
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		height: 100px;
		margin-top: 250px;
		font-size: 48px;
		line-height: 50px;
	}

	/*SERVICE*/

	.Services {
		height: 5540px;
	}
	.service_title {
		text-align: center;
		font-style: normal;
		font-size: 96px;
		line-height: 96px;
		margin-left: -10px
	}
	.line_idea {
		width: 200px;
		height: 20px;
		margin-top: 50px;
		margin-left: 350px;
	}
	.content {
		width: 800px;
	}
	.from_idea {
		width: 800px;
		display: flex;
		text-align: center;
		margin-bottom: 0px;
		margin-left: 50px;
		font-size: 60px;
		line-height: 50px
	}
	.integration_idea {
		width: 875px;
		margin-left: 25px;
		font-style: normal;
		font-size: 48px;
		line-height: 50px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
	.all_ser {
		flex-direction: column;
	}
	.items {
		justify-content: flex-start;
		width: 800px;
		margin-top: 80px;
		height: 2487.93px;
		display: grid;
		grid-template-columns: repeat(1, 580px);
   		grid-template-rows: repeat(8, 608px);
	}
	.service {
		width: 580px;
	    height: 608px;
	}
	.object_img {
    	width: 100px;
    	margin-top: 200px
	}
	.object_txt {
		font-size: 36px;
	}
	.text_it_serv {
		width: 300px;
		font-size: 24px;
		line-height: 28px;
		margin-left: auto;
		margin-right: auto;
	}
	.btn_href {
		font-size: 26px;
		line-height: 29px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
	}


	/* WORK */

	.recent_work {
		margin-top: 62px;
		height: 3400px;
	}
	.img_work_cl {
		width: 718px;
		height: 660px;
		margin-left: -100px
	}
	.img_content_work {
		margin-top: 100px;
		width: 518px;
		margin-left: auto;
		margin-right: auto;
		display: grid;
  		grid-template-columns: repeat(1, 518px);
  		grid-template-rows: repeat(4, 282.91px);
  		grid-row-gap: 500px
	}
	.img_work_hidden {
		position: relative;
		top: -675px;
		margin-left: -70px;
		width: 658px;
		height: 600px;
	}
	.img_work_hidden_icons{
		width: 250px;
	}
	.txt_title_work {
		font-weight: 700;
		font-size: 86px;
		line-height: 96px;
	}
	.img_title_work {
		width: 250px;
		height: 20px;
	}
	.title_content_work_text {
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 36px;
		line-height: 34px;
		text-align: center;
		letter-spacing: 2px;
		color: #2B4074;
		margin-top: 23px
	}

	/* VIDEO */

	.video_block {
		height: 2000px;
		margin-top: 50px
	}
	.all_video {
		padding-top: 46px;
		width: 520px;
		margin-left: auto;
		margin-right: auto;
    	display: flex;
    	flex-direction: column;
	}
	.video_v_b {
		width: 720px;
		height: 678px;
		margin-left: -100px
	}
	.video_info {
		margin-left: -90px
	}
	.line_title_v_b {
		margin-right: auto;
		margin-left: auto;
		margin-top: 25px;
		margin-bottom: 0px;
		width: 150px;
		height: 20px;
	}
	.text_v_b {
		margin-top: 25px;
		width: 700px;
		font-style: normal;
		font-size: 46px;
		line-height: 46px;
		display: flex;
		align-items: flex-end;
		text-align: center;
	}
	.text_title_v_b {
		font-size: 70px;
		line-height: 70px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 100px
	}
	.btn_video {
		margin-top: 45px;
		margin-left: auto;
    	margin-right: auto;
    	width: 500px;
    	height: 100px;
    	font-size: 46px;
		line-height: 46px;
	}

	/* NEWS */

	.latest_news {
		height: 8500px;
	}
	.content_news {
		margin-left: 125px;
		margin-top: 88px;
		flex-direction: column;
		width: 200px;
	}
	.new_solo {
		width: 299.5px;
		margin: 0;
		margin-bottom: 100px;
	}
	.img_new{
		width: 750px;
	}
	.title_latest_news {
		padding-top: 50px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 70px;
		line-height: 70px;
		text-align: center;
		color: #4A4A4A;
		margin-bottom: 19px
	}
	.line_title_l_n {
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
		width: 150px;
		height: 20px;
	}
	.txt_title_new {
		margin-top: -10px;
		width: 750px;
		height: 100px;
		background-color: #ffffff;
		font-size: 60px;
		line-height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.new_solo:hover .txt_title_new {
		position: relative;
		top: -200px;
		width: 750px
	}
	.new_solo:hover .img_new {
		border: 24px solid #2B4074;
	}

	/* TEST */

	.testimonial {
    	height: 1000px;
    }
    .test_title_img {
    	padding-top: 100px;
    	width: 85px
	}
	.text_test {
		margin-top: 150px;
		margin-bottom: 100px;
		width: 750px;
		font-style: normal;
		font-size: 60px;
		line-height: 60px;
		display: flex;
    	align-items: center;
    	text-align: center;
    	justify-content: center;
    	align-content: center;
    	flex-direction: column;
	}
	.text_test b {
		font-size: 60px;
	}
	.autor_test {
		font-weight: 700;
		font-size: 62px;
		line-height: 64px;
		text-align: center;
	}

	/* FOOTER */

	.footer {
		height: 3250px;
	}
	.logo_footer {
		margin-top: 17px;
		width: 750px;
		height: 200px;
	}
	.all_footer {
		width: 800px;
		height: 639px;
		margin-left: 150px
	}
	.logo_fot {
		width: 250px;
	}
	.bg_footer {
		margin-top: -100px;
		height: 3000px;
	}
	.text_footer_the_last {
		margin-left: 25px;
		padding-top: 250px;
		width: 650px;
		font-weight: 400;
		font-size: 50px;
		line-height: 50px;
		display: flex;
    	align-items: center;
    	text-align: center;
	}
	.line_x {
		opacity: 0
	}
	.lines_y_footer {
		opacity: 0
	}
	.line_apps_footer {
		margin-left: 300px;
		width: 100px;
		height: 500px;
		margin-top: -40px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-row-gap: 100px;
	}
	.logo_foter {
		width: 100px;
		height: 100px;
	}
	.widgets_footer {
		margin-top: 800px;
		margin-left: -75px;
		height: 117px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-row-gap: 150px
	}
	.title_f {
		font-weight: 700;
		font-size: 60px;
		line-height: 60px;
	}
	.text_f {
		font-weight: 400;
		font-style: normal;
		font-size: 46px;
		line-height: 46px;
		color: #FFFFFF;
		display: flex;
    	align-items: center;
    	text-align: center;
    	flex-direction: column;
	}
	.copyright_footer {
		height: 250px;
		background: #F9F6E5;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.all_copyfooter {
		margin-right: 136px;
		width: 99px;
	}
	.text_copy_f {
		font-weight: 400;
		font-size: 96px;
		line-height: 96px;
	}
	.img_copy_f {
		margin-top: 25px;
		margin-left: 100px;
		width: 100px;
	}
}